aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
asttokens==3.0.1
async-timeout==5.0.1
attrs==25.4.0
blinker @ file:///C:/miniconda3/conda-bld/blinker_1764332315443/work
catboost==1.2.8
certifi==2026.1.4
charset-normalizer==3.4.4
click @ file:///C:/miniconda3/conda-bld/click_1764332349001/work
colorama @ file:///C:/b/abs_a9ozq0l032/croot/colorama_1672387194846/work
comm==0.2.3
confluent-kafka==2.13.0
contourpy==1.3.2
cycler==0.12.1
debugpy==1.8.19
decorator==5.2.1
exceptiongroup==1.3.1
executing==2.2.1
filelock==3.20.3
Flask @ file:///C:/b/abs_28dbmjidmh/croot/flask_1756453142071/work
fonttools==4.61.1
frozenlist==1.8.0
fsspec==2026.1.0
graphviz==0.21
idna==3.11
ipykernel==7.1.0
ipython==8.38.0
itsdangerous @ file:///C:/b/abs_c4vwgdr5yn/croot/itsdangerous_1716533399914/work
jedi==0.19.2
Jinja2 @ file:///C:/b/abs_920kup4e6u/croot/jinja2_1741711580669/work
joblib==1.5.3
jupyter_client==8.8.0
jupyter_core==5.9.1
kiwisolver==1.4.9
lightgbm==4.6.0
MarkupSafe @ file:///C:/b/abs_a0ma7ge0jc/croot/markupsafe_1738584052792/work
matplotlib==3.10.8
matplotlib-inline==0.2.1
mpmath==1.3.0
multidict==6.7.0
narwhals==2.15.0
nest-asyncio==1.6.0
networkx==3.4.2
numpy==2.2.6
packaging==25.0
pandas==2.3.3
parso==0.8.5
pillow==12.1.0
platformdirs==4.5.1
plotly==6.5.2
prompt_toolkit==3.0.52
propcache==0.4.1
psutil==7.2.1
pure_eval==0.2.3
Pygments==2.19.2
pyparsing==3.3.1
python-dateutil==2.9.0.post0
pytz==2025.2
pyzmq==27.1.0
requests==2.32.5
scikit-learn==1.5.2
scipy==1.15.3
seaborn==0.13.2
six==1.17.0
stack-data==0.6.3
sympy==1.14.0
threadpoolctl==3.6.0
torch==2.9.1
torch-geometric==2.7.0
torch_cluster==1.6.3+pt25cpu
torch_scatter==2.1.2+pt25cpu
torch_sparse==0.6.18+pt25cpu
torch_spline_conv==1.2.2+pt25cpu
torchaudio==2.9.1
torchvision==0.24.1
tornado==6.5.4
tqdm==4.67.1
traitlets==5.14.3
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
wcwidth==0.2.14
Werkzeug @ file:///C:/b/abs_c7bupijx2_/croot/werkzeug_1737448709012/work
xgboost==3.1.3
xxhash==3.6.0
yarl==1.22.0
